//
//  Debug.xcconfig
//  Cosmetic
//
//  Created by Omp on 17/3/2563 BE.
//  Copyright © 2563 Omp. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Cosmetic/Pods-Cosmetic.debug.xcconfig"

//SERVER_URL = https:/$()/cococosmetic.000webhostapp.com/
SERVER_URL = http:/$()/54.254.210.75/api/v1/
